.login-page-view {
  display: grid;
  place-items: center;
  height: 100%;
}

.box {
  box-sizing: border-box;

  box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.05);
  border-radius: 27px;

  display: flex;
  flex-direction: column;

  max-width: 658px;
  padding: 90px 70px;

  gap: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.input {
  height: 50px;
  max-width: 490px;
}

.button{
  height:40px;
}

.message {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 390px;
  margin: 0 auto;
  width: 100%;
}

.createAccountCTA {
  font-weight: 400;
  font-size: 18px;
  user-select: none;
  color: #5154a5;
  transition:text-shadow 0.1s ease-in;
  &:hover{
     cursor: pointer;
      color: #41449a;
      text-decoration: underline;
      text-shadow: 0px 3px 3px #7e81da;
  }
    &:active{
           text-shadow: none;
    }

}
