@import "../../../../colors.scss";
.zbiorka-main {
  background-color: white;
  width: 20%;
  min-width: 250px;
  box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.05);
  border-radius: 27px;
  text-align: left;
  padding: 40px;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
  }

  &:active {
        box-shadow:none;
  }

  color: black;

  @media screen and (min-width: 1024px) {
    .boxx {
      display: flex;
    }
  }
  .name {
    font-size: 1.5em; 
}
.miasto{

    color: darkgray;
    font-weight: lighter;
}
.pasek{

    background-color: rgb(241, 242, 238);
    height: 13px;
    border-radius: 10px;
    width: 100%;
    .pasek2 {
      background-color: $celtic-blue;
      height: 13px;
      border-radius: 10px;
      width: 50%;
    }
  }

  .h2 {
    color: darkgray;
    font-weight: lighter;
    font-size: medium;
  }

  .filtry {
    min-width: 50px;
    font-size: x-small;
    text-align: center;
    border-color: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 0 3px;
    font-weight: bold;
    color: lightgray;
    margin-bottom: 20px;
  }
  .filtry:first-child {
    color: white;
    background: linear-gradient(180deg, $gradient1-1 0%, $gradient1-2 100%);
    border-width: 0px;
  }
  .opis {
    margin-top: 10px;
    color: darkgray;
  }
}
