.profile-main {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.profile-grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  column-gap: 5%;
  row-gap: 4vh;
}
