@import "../../colors.scss";

.description-view {
  display: grid;
  place-items: center;
  height: 100%;
}

.opis-main {
  margin-top: 10px;
  background-color: white;
  width: 60%;
  height: auto;
  box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.05);
  border-radius: 27px;
  text-align: left;
  padding: 30px;
  color: black;
}

.main-goal {
  height: 22px;
  color: white;
  // background: linear-gradient(180deg, $gradient1-1 0%, $gradient1-2 100%);
  width: 120px;

  // padding: 5px;
  margin: 15px 3px;
  // font-weight: bold;
  border-radius: 20px;
}
h2 {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

h3 {
  color: $text-box2;
  font-size: x-large;
  font-weight: bolder;
}
.arrow {
  color: $text-box2;
}

.punkty {
  color: $text-box;
}
.arrow {
  color: $text-box;
}
.observe {
  height: 40px;
  width: 120px;
  margin-left: 20px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
}
.button-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.share {
  user-select: none;
  font-size: 1.1em;
  gap: 5px;
  color: #c5c5c5;
  display: flex;
  align-items: center;
  transition: color 0.2 ease-in-out;
  &:hover {
    cursor: pointer;
    color: #a1a1a1;
  }
  &:active {
    color: #c5c5c5;
  }
}
