h3 {
  color: rgb(111, 111, 111);
}

.header {
  display: flex;
}
.button-group {
  display: flex;
}

.box-container {
  text-align: center;
}
@media screen and (min-width: 1324px) {
  .box-container {
    display: flex;
  }
}
