@import "../../colors.scss";

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
   color: black;
}

.greeting {
    width: 400px;
}

.image {
    img {
        width: 300px;
    }
}
h1{
    color:  $title-color;
    
}