.commitment-main {
  width: 100%;
  padding: 20px;
  &:not(:last-child) {
    border-bottom: 2px solid #e4e4e4;
  }
  //   background-color: red;
  .title2 {
    // display: flex;
    // align-items: left;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #854ff8;
  }
  .group {
    width: 100%;
    display: flex;
  }
  .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 5px;
    span {
      align-self: start;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
    }
    .list {
      margin-top: 5px;
      height: 100%;
      display: flex;
      align-self: start;
      flex-direction: column;
      row-gap: 5px;
    }
  }
  .right {
    display: flex;
    margin-left: auto;

    height: 100%;
    flex-wrap: wrap;
    .points {
      justify-self: flex-end;
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin-left: auto;
      /* identical to box height */

      color: #1cb0f1;
    }
    .time-left {
      margin-left: auto;
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      /* identical to box height */

      color: #000000;
    }
  }

  //   &:not(:last-child)::after {
  //     position: fixed;
  //     content: "";
  //     display: flex;
  //     width: 20px;
  //     height: 30px;

  //     background-color: blue;
  //     align-self: center;
  //   }
}
