:root {
  --celtic-blue: #366fc5ff;
  --medium-slate-blue: #854ff8ff;
  --baby-blue: #81d5faff;
  --pale-purple-pantone: #f1e3f3ff;
  --unbleached-silk: #f5d3c8ff;
}

html {
  ::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    cursor: pointer;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    transition: background-color ease-out 0.2s;
    border-radius: 10px;
    background: var(--medium-slate-blue);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--celtic-blue);
  }
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(255, 255, 255);
  text-align: center;
}

#root {
  height: 100vh;
  min-height: 100vh;
}
