:root {
  --celtic-blue: #366fc5ff;
  --medium-slate-blue: #854ff8ff;
  --baby-blue: #81d5faff;
  --pale-purple-pantone: #f1e3f3ff;
  --unbleached-silk: #f5d3c8ff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #eee;
}
