@import "../../../../colors.scss";

span {
  color: darkgray;
}
.main {
  background-color: $text-box;
}
.pasek {
  background-color: rgb(241, 242, 238);
  height: 13px;
  border-radius: 10px;
  width: 100%;
  .pasek2 {
    background-color: $text-box2;
    height: 13px;
    border-radius: 10px;
    width: 80%;
  }
}
