.subscribed-main {
  width: 100%;
  height: 100%;
  border-radius: 27px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  .title {
    width: 90%;
    align-self: center;
    // background-color: red;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    display: flex;
    align-items: left;
  }
}
